<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link rel='stylesheet' href='../vendors/materialize/css/materialize.min.css'>
  <link rel="stylesheet" href="../css/main.css">
  <title>Avant premiere</title>

  <!-- Link firebase's conection -->
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC02T6kQgPqvj-tZB7ildPpHcEvZ1LDdVg",
      authDomain: "avantpremiere-48549.firebaseapp.com",
      databaseURL: "https://avantpremiere-48549.firebaseio.com",
      projectId: "avantpremiere-48549",
      storageBucket: "avantpremiere-48549.appspot.com",
      messagingSenderId: "136985636004"
    };
    firebase.initializeApp(config);
  </script>

</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <i class="material-icons"></i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="sass.html">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li>
          <a href="badges.html">
            <i class="material-icons">person</i>
          </a>
        </li>
        <!--<li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>-->
      </ul>
    </div>
  </nav>
  <!--Line  -->
  <div class="progress">
    <div class="indeterminate"></div>
  </div>

  <!-- Dropdown Trigger -->
  <!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Género</a> -->

  <!-- Dropdown Structure -->
  <!-- <ul id='dropdown1' class='dropdown-content'>
    <li>
      <a href="#!">Acción</a>
    </li>
    <li>
      <a href="#!">Comedia</a>
    </li>
    <li>
      <a href="#!">Romance</a>t
    </li>
    <li>
      <a href="#!">Thrilers</a>
    </li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul> -->

  <section>

  <div class="row">
    <div class="col s2">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">

            Tipo película  <i class="fa fa-caret-down" aria-hidden="true"></i>
            <!-- <span class="badge">1</span> -->

          </div>
          <div class="collapsible-body">
            <p>
               <input type="checkbox" class="filled-in" id="filled-in-box"  />
               <label for="filled-in-box">Filled in</label>
             </p>
             <p>
                <input type="checkbox" class="filled-in" id="filled-in-box1"  />
                <label for="filled-in-box">Filled in</label>
              </p>

              <p>
                 <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                 <label for="filled-in-box">Filled in</label>
               </p>

               <p>
                  <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                  <label for="filled-in-box">Filled in</label>
                </p>

          </div>
        </li>
      </ul>
    </div>

    <div class="col s8">
      <div class="row list-movie">
          <div class="col s4">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/pelicula.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Película<i class="material-icons right">more_vert</i></span>
                <p><span class="like"><i class="fa fa-thumbs-o-up "></i> 2 </span>
                  <span><i class="fa fa-heart "></i> 1 </span>
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Resumen<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                <span class="grey-text text-darken-4">Actors</span>
                <div class="list-actors">
                    <div class="actor">
                      <p class="title">Title</p>
                      <img src="../assets/images/pelicula.jpg" alt="" class="circle">
                    </div>
                </div>
                <p>Director : <span>name-director</span></p>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>


  </section>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <a class="col s12 waves-effect waves-light btn btn-type-mobile">
          <i class="fa fa-home" aria-hidden="true"></i>Inicio</a>
        <a class="waves-effect waves-light btn btn-type-mobile">
          <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>Tipo</a>
        <a class="waves-effect waves-light btn btn-type-mobile">
          <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>Estreno</a>
        <!-- <a class="btn-floating disabled"><i class="material-icons">add</i></a> -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12 l6">
            <h5 class="white-text">Avant Premier Content</h5>
            <p class="grey-text text-lighten-4">Avant Premier la website más interactiva del mundo donde encontras toda la información necesaria de los próximos
              estrenos.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Siguenos en:</h5>
            <ul>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='#'>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='#'>
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a target='_blank' class='grey-text text-lighten-3' href='#'>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 Copyright Avant premiere
        </div>
      </div>
  </footer>


  <script src="../vendors/jquery/jquery-3.2.1.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/home.js"></script>

</body>

</html>
