<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Avant premier</title>

  <!-- Links CSS Styles-->
  <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Section header -->
  <header>
    <nav id="nav-menu">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left">Logo</a>
        <ul class="right">
          <li><a href="#"><i class="material-icons">notifications</i></a></li>
          <li><a href="#"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="section-movie">
    <div class="row">
      <div class="col l2">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">Género <i class="material-icons">arrow_drop_down</i></div>
            <div class="collapsible-body">
              <p>
                <input type="checkbox" id="test1" />
                <label for="test1">Red</label>
              </p>
              <p>
                <input type="checkbox" id="test2" />
                <label for="test2">Red</label>
              </p>
              <p>
                <input type="checkbox" id="test3" />
                <label for="test3">Red</label>
              </p>
            </div>
          </li>

        </ul>

      </div>
      <div class="col l10 list-movie">
        <div class="col l3">
          <div class="card">
             <div class="card-image waves-effect waves-block waves-light sticky-action">
               <img class="activator" src="../assets/images/logo.png">
             </div>
             <div class="card-action">
               <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
               <p><a href="#">This is a link</a></p>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
               <p>Here is some more information about this product that is only revealed once clicked on.</p>
             </div>
           </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section id="section-list-gender" hidden>
    <div class="row">

    </div>


  </section>
  <section>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
    <h1>hola</h1>
  </section> -->

  <!-- <footer class="page-footer pdt-0"> -->
  <!-- <ul class="list-menu hide-on-med-and-up mb-0 mt-0">
      <li class="waves-effect center btn-start-movie"><a href="#"><i class="material-icons">home</i><p class="mt-0 mb-0">Inicio</p></a></li>
      <li class="waves-effect center btn-gender-movie"><a href="#"><i class="material-icons">movie_filter</i><p class="mt-0 mb-0">Género</p></a></li>
      <li class="waves-effect"><a href="views/login.html"><i class="material-icons">add</i><p class="mt-0 mb-0">Más</p></a></li>
    </ul> -->
  <!-- footer para trablet y desktop -->
  <!-- <div class="container hide-on-small-only">
      <div class="row">
        <div class="col l4 m4">
          <h6>Avant Premier</h6>
           <hr> -->
  <!-- <p>Aquí podrás encontrar toda la información necesaria de los próximos estrenos a lanzar.</p> -->
  <!-- </div>
        <div class="col l4 m5">
          <h6>Contáctanos</h6> -->
  <!-- <hr> -->
  <!-- <ul>
            <li><i class="material-icons">place</i> Av. Benavides 1807, Miraflores</li>
            <li><i class="material-icons">phone</i> +051 1 5629732</li>
            <li><i class="material-icons">mail_outline</i> soporte@avantpremier.com.pe</li>
          </ul>
        </div>
        <div class="col l4 m3">
          <h6>Redes sociales</h6> -->
  <!-- <hr> -->
  <!-- <ul class="list-social-networks">
            <li><a class="btn-floating waves-effect"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating waves-effect"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating waves-effect"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright Text
      </div>
    </div>
  </footer> -->


  <footer class="page-footer pdt-0">

    <ul class="list-menu mb-0 mt-0">
      <li class="waves-effect center btn-start-movie"><a href="#"><i class="material-icons">home</i><p class="mt-0 mb-0">Inicio</p></a></li>
      <li class="waves-effect center "><a href="#"><i class="material-icons">movie_filter</i><p class="mt-0 mb-0">Género</p></a></li>
      <li class="waves-effect"><a href="#"><i class="material-icons">playlist_add</i><p class="mt-0 mb-0">Mi lista</p></a></li>
    </ul>
  </footer>

  <script src="../vendors/jquery/jquery-3.2.1.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>
