<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Avant premier</title>

  <!-- Links CSS Styles-->
  <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Section header -->
  <header>
    <nav id="nav-menu">
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo left">Logo</a>
        <ul class="right">
          <li><a href="#"><i class="material-icons">notifications</i></a></li>
          <li><a href="#"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>


  </header>
  <section id="section-list-gender" hidden>
    
  </section>

  <footer class="page-footer pdt-0">

    <ul class="list-menu mb-0 mt-0">
      <li class="waves-effect center btn-start-movie"><a href="#"><i class="material-icons">home</i><p class="mt-0 mb-0">Inicio</p></a></li>
      <li class="waves-effect center "><a href="#"><i class="material-icons">movie_filter</i><p class="mt-0 mb-0">Género</p></a></li>
      <li class="waves-effect"><a href="#"><i class="material-icons">playlist_add</i><p class="mt-0 mb-0">Mi lista</p></a></li>
    </ul>
  </footer>

  <script src="../vendors/jquery/jquery-3.2.1.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>
