<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Avant premier</title>

  <!-- Links CSS Styles-->
  <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Section header -->
  <header>
    <nav id="nav-menu">
      <div class="nav-wrapper">
        <a href="../index.html" class="brand-logo left">Logo</a>
        <ul class="right">
          <li><a href="../index.html"><i class="material-icons">home</i></a></li>
        </ul>
      </div>
    </nav>

  </header>

  <section id="section-login">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Usuario</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Password</label>
          </div>
          <div class="input-field col s12 confirm-password" hidden>
            <i class="material-icons prefix">lock_outline</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Confirmar password</label>
          </div>

          <p>¿Eres nuevo en avant premier? <a class="sign-up">Regístrate</a></p>

          <button class="btn waves-effect waves-light right login" name="action">Acceder
          </button>

          <button class="btn waves-effect waves-light right hidden btn-sign-up hidden" name="action">Regístrate
          </button>

          <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
          <i class="large material-icons">cloud_done</i>
        </a>
            <ul>
              <li><a class="btn-floating red"><i class="fa fa-google"></i></a></li>
              <li><a class="btn-floating blue"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>



        </div>
      </div>
  </section>



  <footer class="page-footer hide-on-small-only">

    <ul class="list-menu mb-0 mt-0 ">
      <!-- <li class="waves-effect center btn-start-movie"><a href="#"><i class="material-icons">home</i><p class="mt-0 mb-0">Inicio</p></a></li> -->
      <li class="waves-effect center btn-gender-movie"><a href="#"><i class="material-icons">chevron_left</i></a></li>
      <li class="waves-effect"><a href="#"><i class="material-icons">add</i><p class="mt-0 mb-0">Más</p></a></li>
    </ul>
  </footer>

  <script src="../vendors/jquery/jquery-3.2.1.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>
